# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env

# Tokens e credenciais
token.json

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Sistema
.DS_Store

# Logs
*.log

# Arquivos de build
dist/
build/

# Cache pytest
.pytest_cache/

# Cache e dados camadas
__pycache__/
*.pyc
data/raw/
data/silver/
data/gold/
